@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
  margin: 0;
  background-color: #EAEAEA;
}
.main_frame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_logo {
  position: absolute;
  left: 40%;
  top: 3%;
  animation: start .5s forwards linear;
  width: 20%;
}
.main_logo_div {
  position: absolute;
  width: 30%;
  height: 20%;
  left: 35%;
  top: 30%;
  align-items: center;
}
.start_section {
  position: absolute;
  width: 100%;
  height: 100%;
}
.logo-styles {
  width: 50%;
  height: 70vh;
}
.start_p {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: #232323;
  cursor: pointer;
  bottom: 0;
  top: 100%;
  text-align: center;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
}
.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding-bottom: 1%;
    border-bottom: 3px solid #232323;
    margin-bottom: 4vh;
    font-family: 'Anonymous Pro';
    font-size: 40px;
}
.logo-styles {
  position: relative;
  top: -10vh;
}
.nav {
  position: relative;
  width: 145px;
  height: 20.63px;
  top: 80vh;
}
.target-label {
  display: block;
}
