@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
  margin: 0;
  background-color: #EAEAEA;
}
a{
  text-decoration: none;
  color: #1289AE;
}
.main_frame {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_logo_div {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 700;
}
.main_logo {
  width: 5vw;
}
.start_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ready_go {
  position: relative;
  top: 10vh;

}
.logo-styles {
  width: 50%;
  height: 70vh;
}
.start_p {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: #232323;
  cursor: pointer;
  bottom: 0;
  top: 100%;
  text-align: center;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 70vh;
}
.logo-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding-bottom: 1%;
    border-bottom: 1.8px solid #232323;
    margin-bottom: 1vh;
    font-family: 'Anonymous Pro';
    font-size: 2vw;
    font-weight: 700;
}
.redberry_label {
  height: 2.5vh;
}
.logo-styles {
  position: relative;
  height: 70vh;
}
.target-label {
  display: block;
  font-size: 90%;
  font-weight: 700;
  margin: 1.5vh 0;
}
.target {
  width: 22vw;
  position: relative;
  top: 3vh;
}
.fa {
  font-size: 200%;
}
.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-wrapper {
  width: 8vw;
  display: flex;
  justify-content: space-between;
}
.text-input, .custom-input {
  background-color: transparent;
  height: 5vh;
  width: 25vw;
  border: 0.8px solid #232323;
  padding: .5% 4%;
  font-size: 80%;
  font-weight: 400;
  color: #232323 !important;

}
.error-span {
   display: block;
   margin: .5vh 0 4vh 2vh;
   font-size: 70%;
   color: #F15524;
   width: 30vw;
}
.radios{
  font-size: 80%;
  display: block;
  width: 30vw;
  margin: 2vh 0;
}
input{
  margin: 0 2vh;
}
.text-input {
   margin: 0;
}
.required:after {
  content: '*';
}
.question {
  font-weight: 700;
}
.book {
   margin: 4vh 6vh;
}
.marginal_note {
  font-size: 70%;
  width: 15vw;
  color: #626262;
  margin-top: 5vh;
}
